.tree {
	height: 800px;
	overflow-y: scroll;
	padding-left: 0;
}

a.itemIcon {
	color: #888;
	padding: 0 2px;
}
a.itemIcon:hover {
	color: #777;
}
a.buttonActive,
a.red {
	color: #ff0000;
}
a.buttonActive:hover,
a.red:hover {
	color: #e00000;
}
a.buttonActive.active {
	color: #00e500;
}
a.buttonActive.active:hover {
	color: #00cc00;
}

.confirm-dnd,
.confirm-dialog,
.alert-dialog {
	font-size: 20px;
}
.confirm-dnd i,
.confirm-dialog i,
.alert-dialog i {
	float: left;
	font-size: 40px;
	color: #777;
}
.confirm-dnd p,
.confirm-dialog p,
.alert-dialog p {
	margin: 5px 0 0 44px;
}
.confirm-dialog i {
	color: #CC3F3B;
}
.alert-dialog i {
	color: #FEBE00;
}
.confirm-dialog p,
.alert-dialog p {
	margin-left: 50px;
}

@media screen and (min-width: 768px) {
	.modal.full-width {
		padding-left: 0 !important;
	}
	.modal.full-width .modal-dialog {
		width: 95%;
	}
}

.top-box {
	position: relative;
	padding: 10px 0;
	margin-bottom: 15px;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.top {
	text-align: right;
}
.top a {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0 2px;
	margin: 0;
	opacity: 0.6;
}
.top a:hover,
.top a.active {
	opacity: 1;
}

.jstree-contextmenu {
	font-size: .9em;
}

#modalEditItem .tab-content {
	margin-top: 20px;
}
#modalEditItem a.marked {
	font-weight: bold;
}

/* galeria obrazkov */
#previewItemImages {
	margin: 10px 0;
}
.itemImage {
	position: relative;
	float: left;
	width: 170px;
	height: 110px;
	overflow: hidden;
	margin: 1px;
	cursor: move;
}
.itemImage img {
	width: 100%;
}
.itemImagePlaceholder {
	float: left;
	background: #fffb93;
	width: 170px;
	height: 110px;
	margin: 1px;
}
.itemImage .imageActionIcon {
	position: absolute;
	top: 10px;
	z-index: 10;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
	box-shadow: 0 0 6px #888;
}
.itemImage a.imageActionIcon.delete {
	right: 10px;
	color: #ff0000;
}
.itemImage a:hover.imageActionIcon.delete {
	color: #e00000;
}
.itemImage a.imageActionIcon.move {
	right: 35px;
}

.drop-zone {
	display: block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: 2px dashed #aaa;
	background: #fff;
	cursor: pointer;
	word-wrap: normal;
	box-shadow: inset 0 0 50px #eee;
}
.drop-zone:hover {
	background: #eee;
}

.btn-separator:after {
	content: ' ';
	display: block;
	float: left;
	background: #ADADAD;
	margin: 5px 10px 0;
	height: 24px;
	width: 1px;
}

#searchResults .dropdown-header {
	font-weight: bold;
	background: #eee;
	color: #000;
	padding: 5px 30px 4px 10px;
}

#itemDescription {
	height: 200px;
}

#searchResults {
	position: absolute;
	top: 35px;
	left: 15px;
}

#debugInfo {
	font-family: Tahoma;
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 12px;
	background: #000;
	color: #999;
	padding: 2px 10px;
	border-bottom: 1px solid #888;
}

.mb20 {
	margin-bottom: 15px;
}
.ml10 {
	margin-left: 10px;
}
.mb0 {
	margin-bottom: 0;
}
.pr5 {
	padding-right: 5px;
}