@import 'bootstrap';
@import 'tabs';
@import '../../../../node_modules/font-awesome/less/font-awesome';
@import '../../../../node_modules/vex-js/css/vex.css';
@import '../../../../node_modules/vex-js/css/vex-theme-default.css';
@import '../../../../node_modules/cropper/dist/cropper.css';
@import 'variables';
@import '../navbar';
@import '../login';
@import '../alertify';
@import 'fancybox';
@import 'twilight';
@import 'files';
@import 'tables';
@import 'dropzone';
@import 'angular-ui-tree';

// selectize
@import '../../../../node_modules/selectize/dist/less/selectize.bootstrap3';

// Angular smart-table
@import 'smart-table';

@import 'sidebar';
@import 'offcanvas';

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.has-navbar { padding-top: 50px; }

.main {
    min-height: 1100px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: static;
    @media (min-width: @screen-sm-min) {
        min-height: 0;
        padding: 25px;
    }
}
.container-menulinks {
    position: static;
}
h1 {
    margin-top: 0;
    a:hover { text-decoration: none; }
}

// Online offline switch
.switch {
    font-size: 20px !important;
    color: @brand-primary;
}
.switch.fa-toggle-off {
    color: @gray-light;
}

.container-system-locales {
    max-height: 150px;
    overflow: scroll;
}

.tab-content { padding-top: 15px; }

.btn-toolbar { margin-bottom: 20px; }

.delete-attachment { cursor: pointer; }

.btn-add,
.btn-back {
    font-size: 36px;
    line-height: 1.1;
    margin-right: 10px;
    float: left;
}

.btn-clear-history {
    .btn();
    .btn-default();
    .btn-xs();
    float: right;
    margin-top: -19px;
}

.checkbox.form-group-translation{
    margin-bottom: 20px;
    &+.checkbox.form-group-translation {
        margin-top: 10px;
    }
}
